.skillsSection{
    padding: 50px 0
}

.skillsIcons{
    width: 60vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.skillsIcons img{
    width: 15vw;
    height: 15vw;
    margin: 0 20px;
}
