.skillsSection{
    padding: 50px 0;
    width: 100%;
}

.skillsIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.skillsIcons img{
    width: 100px;
    height: 100px;
    margin: 0 20px;
}
