.skillsSection{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.skillsIcons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.skillsIcons img{
    width: 10vw;
    height: 10vw;
}
