.aboutSection{
    padding: 50px 0;
    width: 100%;
}

.fotoPessoal{
    border-radius: 50%;
    margin-left: 5vw;
}

.aboutText{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}